<!DOCTYPE html>
<html　lang="ja">
	<head>
		<meta charset="utf-8">
		<title>Admin Page</title>
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link th:href="@{/css/style.css}" rel="stylesheet">
		
		<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
	    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
		<script>
				jQuery(function($){ 
		    $("#tableuser").DataTable({
			lengthChange: false
		}); 
		});   
		</script>
	</head>
	<body>>
		<div class="container">
		<h1 class="header-h1">List User</h1>
	
			 
		<form class="form-inline" th:action="@{search}" th:object="${searchModel}" method="post" >
		  <label for="name">Username:</label>
		  <input type="text" class="form-control" th:field="*{username}">
		  <button type="submit" class="btn btn-outline-primary" >search</button>
	</form>
	<table id="tableuser" class="table">
	<thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">User Name</th>
	      <th scope="col">Password</th>
	      <th scope="col">Email</th>
	      <th scope="col">Phone Number</th>
	      <th scope="col">action</th>
	      <th scope="col">action</th>
	    </tr>
	</thead>
    <tbody>
    <tr th:each="user: ${listUser}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.pwd}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.phone}"></td>  
      <td>
      <form th:action="@{do-delete}" th:object="${deleteModel}" method="POST">
      	  	<input type="hidden" th:value="${user.id}" name="id">
      	  	<button type="submit" class="btn btn-primary">Delete</button>
      	  </form>	
      
      </td>
      <td>
		    <form th:action="@{/edit}"  th:object="${editModel}" method="post">
		      <input type="hidden" th:value="${user.id}" name="id">
		      <input type="hidden" th:value="${user.username}" name="username">
		      <input type="hidden" th:value="${user.pwd}" name="pwd">
		      <input type="hidden" th:value="${user.email}" name="email">
		      <input type="hidden" th:value="${user.phone}" name="phone">
      	  	 <button type="submit" class="btn btn-primary">edit</button>
		    </form>
		</td>
      
    </tr>
    
      </tbody>
     <!-- <td>
      	  <form th:action="@{do-delete}" th:object="${deleteModel}" method="POST">
      	  	<input type="hidden" th:value="${user.id}" name="id">
      	  	<button type="submit" class="btn btn-primary">Delete</button>
      	  </form>	
      </td>
	  <td>
		    <form th:action="@{/edit}"  th:object="${editModel}" method="post">
		      <input type="hidden" th:value="${user.id}" name="id">
		      <input type="hidden" th:value="${user.username}" name="username">
		      <input type="hidden" th:value="${user.pwd}" name="pwd">
		      <input type="hidden" th:value="${user.email}" name="email">
		      <input type="hidden" th:value="${user.phone}" name="phone">
      	  	 <button type="submit" class="btn btn-primary">edit</button>
		    </form>
		</td>
      -->

     
   
</table>

	</body>
</html>